*.swo
*.swp
*~
\#*#

# exclude everything in root except files and directories from void-packages
/*
!/.editorconfig
!/.gitattributes
!/.github
!/.gitignore
!/.mailmap
!/CONTRIBUTING.md
!/COPYING
!/Manual.md
!/README.md
!/README.BINREPO.md
!/TEMPLATES.md
!/CUSTOM_PACKAGES.md
!/install-binrepo.sh
!/publish-binpkgs.sh
!/common
!/etc
!/srcpkgs
!/xbps-src

# Large binary packages should not be committed to repo
# Use GitHub Releases instead: https://github.com/Viking-Maker/my-void-packages/releases
hostdir/binpkgs/
hostdir/ccache/
hostdir/sources/
masterdir-x86_64/
binpkgs/
var/
etc/conf
